alembic 
uvicorn 
fastapi 
SQLAlchemy 
watchgod 
requests
starlette
pydantic
cryptography
bcrypt
Jinja2
celery
jose
passlib
emails
email-validator
Werkzeug
python-multipart
typing-extensions
psycopg2-binary
python-dateutil
python-dotenv
PyJWT
websockets
minio
Pillow
tornado
redis
urllib3